.counter{
    font-size: 2rem;
    text-align: center;
}
.count-input{
    font-size: 1rem;
    vertical-align: middle;
    margin: 0 1rem;
}
.time-string{
    font-size: 1.5rem;
}
.counter-display{
    margin: 0 1rem;
}
.counter-sign{
    font-size: 2rem;
    background: rgb(233, 231, 231);
    border: none;
    padding: 0.1rem 0.6rem;
    border-radius: 100%;
    vertical-align: middle;
}
